body {
    color:#40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif; 

}

h1 {
    color:#66BFBF;
    font-size: 5.63rem;
    line-height: 2;
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    
    /* width: 350px; */
    /* font-size: 50px; */
    /* display: inline-block; */
}

h2{
    color:#66BFBF;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 25px;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr{
    border: dotted #cdeeee 6px;
    border-bottom: none;
    width: 4%;
    margin: 101px auto;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.top {
    background-color: #F4F9F5;
    position: relative;
    padding-top: 180px;

}

.Middle {
    margin: 100px 0px;
}

.Bottom-container {

    background-color: #66BFBF;
    margin-top: 70px;
    padding: 50px 0 20px;



}

.skill-row{
    width:50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}

.Mountain {
    width: 650px;
}

.Bottom-cloud {
    position: absolute;
    width: 200px;
    left: 150px;
}

.top-cloud {
    position: absolute;
    right: 170px;
    top: 70px;
    width: 200px;

}

.skill1{
    width:25%;
    float: left;
    margin: 30px;
}

.skill2{
    width:25%;
    float: right;
    margin: 30px;
}
/* 
.FirstDidcription{
    clear: left;
}

.SecondDiscription{
    clear: right;
} */

.pro {
    text-decoration: underline;
}

.intro{
    /* width: 10px; */
    margin:auto;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
    background-image: -o-linear-gradient(top, #11cdd4, #11999a);
    background-image: linear-gradient(to bottom, #11cdd4, #11999a);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif; 
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 30px 0;
  }